<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections> 
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IDataManager" type="Persistence.IDataManager, Persistence.Interface" />
    <alias alias="DataManager" type="Persistence.DataManager, Persistence" />
    <alias alias="IBusinessManager" type="Business.IBusinessManager, Business.Interface" />
    <alias alias="BusinessManager" type="Business.BusinessManager, Business" />
    <container> 
      <register type="IDataManager" mapTo="DataManager" />
      <register type="IBusinessManager" mapTo="BusinessManager" />
    </container> 
  </unity>  
  <appSettings>
    <add key="ServiceName" value="Tagging Service" />
    <add key="AssemblyName" value="ServiceHost.dll" />
    <add key="CostChangeMocking" value="false" />
    <add key="NewItemeMocking" value="true" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
   <!-- Reporting Services Settings -->
  <add key="RssURL" value="http://9.109.114.209:80/ReportServer" />
  <add key="RssServer" value="9.109.114.209" />
  <add key="RssUser" value="QA_Rpts" />
  <add key="RssPassword" value="tpReport$" />
  <add key="RssReportPath" value="/Reports/GR_QA/" />
    
  </appSettings>
  <connectionStrings>
    <add name="GR_DEV_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.30.18.66;Initial Catalog=GR_DEV;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1;Timeout=90" />
    <add name="KR_DEV_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.30.18.66;Initial Catalog=KR_DEV;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    <add name="SAMS_DEV_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.30.18.66;Initial Catalog=SAMS_DEV;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    <add name="SW_DEV_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.30.18.66;Initial Catalog=SW_DEV;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    
    <add name="GR_DEV_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=GR_Dev;Data Source=9.109.114.84;User Id=ajadmin;Password=aj$luggeR64;Pooling=True;Max Pool Size=1000;Min Pool Size=1" />
    <add name="KR_DEV_Blore_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.109.114.84;Initial Catalog=KR_DEV;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    <add name="SAMS_DEV_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=SAMS_DEV;Data Source=9.109.114.84;User Id=ajadmin;Password=aj$luggeR64;Pooling=True;Max Pool Size=1000;Min Pool Size=1" />
    <add name="SW_DEV_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=SW_DEV;Data Source=9.109.114.84;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    <add name="BLR_WG_DEV_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=WG_DEV;Data Source=9.109.114.84;User Id=ajadmin;Password=aj$luggeR64;Pooling=True;Max Pool Size=1000;Min Pool Size=1" />

    <add name="GR_QA_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=GR_QA;Data Source=9.109.114.207;User Id=ajadmin;Password=aj$luggeR64;Pooling=True;Max Pool Size=1000;Min Pool Size=1" />
    <add name="KR_QA_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Data Source=9.109.114.207;Initial Catalog=KR_QA;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    <add name="SW_QA_BLORE_DB" providerName="System.Data.SqlClient" connectionString="Initial Catalog=SW_QA;Data Source=9.109.114.207;User Id=ajadmin;Password=aj$luggeR64;Pooling=True;Max Pool Size=1000;Min Pool Size=1" />
    
    <add name="SW_Stage_DB" providerName="System.Data.SqlClient" connectionString="Data Source=10.50.7.81;Initial Catalog=TradePoint;User Id=ajadmin;Password=aj$luggeR64;Max Pool Size=500;Min Pool Size=1" />
    
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>